:root {
  --evt-grey1: #f6f6f6;
  --evt-grey2: #eee;
  --evt-grey3: #e5e5e5;
  --evt-grey4: #e1e1e1;
  --evt-grey-dis: #ebebe4;
  --evt-grey5: #ddd;
  --evt-grey6: #d5d5d5;
  --evt-grey7: #ccc;
  --evt-grey8: #bbb;
  --evt-grey9: #b3b3b3;
  --evt-grey10: #aaa;
  --evt-grey11: #999;
  --evt-grey12: #919191;
  --evt-grey13: #888;
  --evt-grey14: #808080;
  --evt-grey15: #777;
  --evt-grey16: #6c6c6c;
  --evt-grey17: #666;
  --evt-grey18: #5c5c5c;
  --evt-grey19: #555;
  --evt-grey20: #4b4b4b;
  --evt-grey21: #3c3c3c;
  --evt-grey22: #333;
  --evt-orange1: #f36730;
  --evt-orange2: #c35326;
  --evt-orange3: #d5420f;
  --evt-orange4: #d94848;
  --evt-yellow: #ffb400;
  --evt-pink: pink;
  --evt-light-blue: #e4f0fe;
  --evt: #237e9c;
  --evt-blue2: #4d90fe;
  --evt-blue3: #0a80a2;
  --evt-blue4: #f0f8ff;
  --evt-blue5: #3390ff;
  --evt-blue6: #3164b9;
  --evt-blue7: #0ea4be;
  --evt-blue8: #95bcf2;
  --evt-red: #c7443d;
  --evt-purple1: #7e6cad;
  --evt-purple2: #71619c;
  --evt-purple3: #64568b;
  --evt-white: #fff;
  --evt-green: #7bad7e;
  --evt-cyan: #e8f3fa;
  --evt-error-color: var(--evt-red);
}
