<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div *ngIf="navigation$ | async as navigation">
        <ul class="navigation-items">
          <li [ngClass]="{'active': navigation === 'HOME'}">
            <a routerLink="/">
              <mat-icon class="icon">home</mat-icon>
              <span class="label">Home</span>
            </a>
          </li>
          <li [ngClass]="{'active': navigation === 'ADD_EVENT'}">
            <a routerLink="/create-event">
              <mat-icon class="icon">event</mat-icon>
              <span class="label">Add Event</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
